<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/project_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @projects.any? %>
      <h3>Projects (<%= @projects.count %>)</h3>
        <%= will_paginate @projects %>
        <table class="table table-bordered table-hover">
          <th>Id</th>
          <th>Name</th>
          <th>Created at</th>
          <%= render @projects %>
        </table>
        <%= will_paginate @projects %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>Management App</h1>
  <p>
    This is the home page for the management application.
  </p>
<% end %>