<%= form_with(model: @project, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <% if current_user.admin? %>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.collection_select :department_id, Department.all, :id, :name, {selected: @project.department_id} %>
  </div>
  <% else %>
    <%= f.hidden_field :department_id, value: @project.department_id %>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :start_date %> - <%= f.label :end_date %><br />
    <%= f.date_field :start_date %> - <%= f.date_field :end_date %>
  </div>
  <%= f.fields_for :project_details do |pd| %>
    <%= pd.hidden_field :id, value: ProjectDetail.where("project_id = ? and employee_id = ?", @project.id, current_user.employee.id).ids.first %>
    <%= pd.hidden_field :project_id, value: @project.id %>
    <%= pd.hidden_field :employee_id, value: current_user.employee.id %>
  <% end %>
  <br />
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>