<div class="just-padding container" style="width: 70%">
  <h3>Project Detail</h3>
  <div class="list-group list-group-root well">

    <p class="list-group-item">
      <b>ID: </b> <%= @project.id %>
    </p>
    <p class="list-group-item">
      <b>Project Name: </b> <%= @project.name %>
    </p>

    <p href="#description" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i><b>Description: </b>
    </p>
    <div class="list-group collapse" id="description">

      <p class="list-group-item" data-toggle="collapse">
        <%= @project.description %>
      </p>

    </div>

    <p class="list-group-item">
      <b>Start -
        End: </b><%= @project.start_date.strftime("%d/%m/%Y") if @project.start_date %><%= " - " << @project.end_date.strftime("%d/%m/%Y") if @project.start_date %>
    </p>

    <p class="list-group-item">
      <b>Department: </b><%= @project.department.name %>
    </p>

    <p class="list-group-item">
      <b>Leader: </b><%= @project.leader.profile.name %>
    </p>

    <p href="#employees" class="list-group-item" data-toggle="collapse">
      <i class="glyphicon glyphicon-chevron-right"></i><b>Employees</b>
    </p>
    <div class="list-group collapse" id="employees" style="background: white">
      <ol style="display: flex; justify-content: flex-start; align-items: baseline">
        <% @project.employees.each do |e| %>
          <li>
            <%= link_to e.profile.name, e.user, class: "list-group-item", style: "width: 200px; border: none"%>
          </li>
          <span>
            <%= link_to destroy_employee_from_project_path(e.id, @project.id), method: :delete, data: { confirm: 'Are you sure?'} do %>
              <span class="glyphicon glyphicon-minus-sign"></span>
            <% end %>
          </span>
        <% end %>
      </ol>
    </div>

  </div>
  <div class="text-center">
    <a class="btn btn-primary btn-sm">Add employee</a>
  </div>

</div>